<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Raaka-aineet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Raaka-aineet</h1>
        <ul>
            <li th:each="arvo : ${aineet}">
                <span th:text="${arvo}">
                </span>
                <form th:action="@{~/delete/{nimi}(nimi=${arvo})}" method="POST">
                    <input type="submit" value="poista"/>
                </form>
            </li>


        </ul>
        
        
        <h2>Raaka-aineiden lisäys</h2>
        <form method="POST" action="/raaka-aineet">
            <input type="text" name="name"/><br/>
            <input type="submit" value="lisää"/>
        </form>
    </body>
</html>
